* {
    font-family: monospace;
}

body {
    padding-top: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 30px;
}

.card img {
    max-width: 85%;
    height: auto;
}

.back-video{
    max-width: 100%;
    height: auto;
    position: absolute;
    right:  0;
    bottom: 0;
    z-index: 1;
     max-height: 100%;
}
.back-video2 {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
     max-height: 100%;
     
}

@media (max-width: 414px) { /* Taille de l'iPhone XR */
    .back-video,
    .back-video2 {
        display: none; /* Masquer les vidéos pour les écrans plus petits */
    }
}
